*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--color-white: #ffffff;
	--color-lightone: #ccdaf1;
	--color-lighttwo: #99b5e3;
	--color-lightthree: #6691d5;
	--color-mediumone: #326cc7;
	--color-mediumtwo: #0048ba;
	--color-mediumthree: #003994;
	--color-darkone: #00245d;
	--color-darktwo: #001537;
	--color-black: #000000;
}

.App {
	width: 100vw;
	height: 100vh;
	display: flex;
	background-color: var(--color-lightone);
}

.boxcontent {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.sitebar {
	margin-top: 2em;
}

.btnOpenModal {
	width: 20vw;
	background: transparent;
	border: none;
	cursor: pointer;
}

img {
	width: 70px;
	height: 70px;
}

.boxmodal {
	position: fixed;
	display: flex;
	align-items: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	background-color: rgba(200, 200, 200);
}

.modal {
	position: relative;
	width: 500px;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 2em auto;
	padding: 2em;
	background-color: var(--color-white);
	border-radius: 15px;
	box-shadow: 2px 2px 10px var(--color-black);
}

.modalcross {
	position: absolute;
	top: 10px;
	right: 38px;
	padding: 0.4rem;
	font-size: 1.6rem;
	font-weight: bold;
	cursor: pointer;
}

.modaltext {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 1em;
}

label {
	font-size: 1.2em;
	padding-bottom: 0.4em;
}

textarea {
	padding: 1em;
	max-width: 100%;
	min-width: 100%;
	max-height: 150px;
	min-height: 150px;
	border: none;
	background: none;
	border: 0.04em solid rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

textarea:focus {
	outline: none;
}
.boxselect {
	/* height: 100%; */
	display: flex;
	justify-content: space-between;
}

.modalbtn {
	padding: 0.4em 2em;
	border: 0.04em solid var(--color-darkone);
	background-color: var(--color-lightone);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.modalbtn:hover {
	background-color: var(--color-mediumthree);
	color: var(--color-lightone);
}

.notelistview {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--color-lightthree);
	height: 250px;
	width: 250px;
}

.notebox {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-self: flex-end;
}

.notebtn {
	/* padding: 2px; */
	background: none;
	border: none;
	cursor: pointer;
	align-self: flex-end;
}

small {
	align-self: flex-end;
}

.noteimg {
	width: 25px;
	height: 35px;
	object-fit: cover;
}
.notelist {
	margin: 2em;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
}
